{% extends "base.html" %}


{% block title %}
Anomalies
{% endblock %}



{% block content %}


<h1>
    Weather Anomalies Detection
</h1>



<div class="controls">


    <label for="metric-select">
        Select metric:
    </label>



    <select id="metric-select">


        <option value="temperature">
            Temperature
        </option>


        <option value="humidity">
            Humidity
        </option>


        <option value="windspeed">
            Wind Speed
        </option>


        <option value="pressure">
            Pressure
        </option>


    </select>



    <button id="anomaly-btn">
        Check Anomalies
    </button>


</div>




<div id="anomalies-summary" class="card">

    Select a metric...

</div>



<div id="anomalies-data" class="cards">

</div>




<script src="/static/js/anomalies.js"></script>



{% endblock %}