* {
    box-sizing: border-box;
}


body {

    margin: 0;

    font-family: Arial, sans-serif;

    background: #f4f7fb;

    color: #333;

}



/* Navbar */

.navbar {

    display: flex;

    justify-content: space-between;

    align-items: center;

    background: #2563eb;

    padding: 15px 40px;

    color: white;

}


.logo {

    font-size: 22px;

    font-weight: bold;

}


.navbar ul {

    list-style: none;

    display: flex;

    gap: 25px;

}


.navbar a {

    color: white;

    text-decoration: none;

}


.navbar a:hover {

    text-decoration: underline;

}



/* Container */

.container {

    padding: 30px;

}



/* Cards */

.cards {

    display: grid;

    grid-template-columns: repeat(
        auto-fit,
        minmax(250px,1fr)
    );

    gap: 20px;

}



.card {

    background: white;

    padding: 25px;

    border-radius: 15px;

    box-shadow:
    0 5px 15px rgba(0,0,0,0.1);

}



.card h1,
.card h2 {

    margin-top: 10px;

}



/* Chart */

.chart-container {

    background: white;

    margin-top: 30px;

    padding: 25px;

    border-radius: 15px;

}



/* Buttons */

button {

    background: #2563eb;

    color: white;

    border: none;

    padding: 12px 25px;

    border-radius: 8px;

    cursor: pointer;

}


button:hover {

    background:#1d4ed8;

}